@charset "utf-8";

*{
	padding: 0;
	margin: 0;
}
body{background: #f2f2f2;}
.box{margin: auto;}
#text_{margin-right: 75px;}
.box>input{
	height: 30px;
	margin: 5px 0;
}
.box>input[type='button']{
	width: 80px;
}
#container{
    position: absolute;
    margin-top:30px; 
    width: 100%; 
    height: 90%; 
    top: 50; 
    border: 1px solid gray;
    overflow:hidden;
}
